@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;700&display=swap');

header {    
    padding-top: 0.6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    justify-content: space-between;
    display: flex;
    font-family: 'Anek Latin', sans-serif;
    align-items: center;
}

.header-logo {
    text-decoration: none;
}

header h1 {
    margin: 0;
    line-height: 0.5;
}

header .travel {
    color: #0083D4;
}
  
header .buddy {
    color: white;
    opacity: 0.8;
}

header .description {
    color: #0083D4;
    font-size: 1.1rem;
    opacity: 0.8;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.autoAwesomeIcon, .calendarMonthIcon {
    margin-right: 0.6rem;
}

header nav {
    margin-top: 1.5rem;
}
  
header nav ul li {
    background-color: white;
    opacity: 0.8;
    border-radius: 16px;
    padding: 10px;
}

header nav ul li:not(:last-child) {
    margin-right: 0.8rem;
}
  
header nav ul li a {
    color: #0083D4;
    text-decoration: none;
 }

li.active {
    background-color: #0083D4;
}

li.active a {
    color: white;
}

li:hover {
  background-color: #0083D4;
}

li:hover a {
    color: white;
}

.TravelBuddy {
    height: 4rem;
}

.TravelBuddyText {
    height: 3rem;
    width: 5.5rem;
    margin-left: 0.1rem;
}