.travel-plan-page-container {
  font-family: 'Anek Latin', sans-serif;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 16px;
  padding: 2rem;
  margin: 2rem;
  height: calc(100vh - 13.5rem);
  overflow: hidden;
}

.travel-plan {
  max-height: calc(100% - 5rem);
  overflow-y: auto;
  padding-right: 1rem;
  scrollbar-width: 1rem;
  scrollbar-color: #0083D4 #f4f4f4;
  background: transparent;
  opacity: 0.9;
}

.travel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #dce1e6;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.travel-header h2 {
  margin: 0;
  font-size: 1.75rem;
  color: #0083D4;
  opacity: 0.9;
}

.travel-header p {
  margin: 4px 0 0;
  color: #114274;
  font-size: 1rem;
}

.travel-dates span {
  margin: 0 5px;
  font-weight: 500;
  color: #114274;
  font-size: 1.1rem;
}

.export-btn {
  background-color: #0083D4;
  opacity: 0.9;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-weight: bold;
  cursor: pointer;
}

.travel-day {
  margin-bottom: 2rem;
}

.travel-day h4 {
  font-size: 1.25rem;
  color: #114274;
  margin-bottom: 1rem;
}

.activity-card {
  background: #f4f7fa;
  border: 1px solid #dde3e9;
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activity-title {
  font-weight: 600;
  margin: 0 0 0.7rem;
  color: #0083D4;
  font-size: 1.15rem;
}

.activity-info {
  display: flex;
  gap: 0.7rem;
  font-size: 0.85rem;
  color: white;
}

.delete-btn {
  background: none;
  border: none;
  color: #c00;
  cursor: pointer;
  font-size: 1rem;
}

.duartion-info-activity {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  background-color: #114274;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 10px;
}

.price-info-activity {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 0.4rem;
  background-color: #114274;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  border-radius: 10px;
}

.free-tag {
  background-color: #cce5cc;
  color: #2e7d32;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.85rem;
}

.no-activity {
  font-style: italic;
  color: #114274;
  padding: 0.5rem 1rem;
  background-color: #eef2f5;
  border-radius: 8px;
}

.travel-day:last-child {
  margin-bottom: 4rem;
}